.about {
   margin-top: 200px;
}
.about .img-fluid {
   border-radius: 10px;
}
.about .about-info h3 {
   color: #2F2D51;
   font-weight: 600;
   font-size: 35px;
}
.about .about-info p {
   color: #77838F;
}
.about .about-info ul li {
   color: #77838F;
   margin-bottom: 10px;
}