.home {
  background: #2f2d52;
  position: relative;
  padding: 200px 0;
  overflow: hidden;
}
.home .text-box {
  color: #fff;
  z-index: 100000;
  overflow: hidden;
}
.home .text-box h1 {
  font-size: 60px;
  font-weight: 700;
}
.home .text-box h1 span {
  color: #ffc78b;
  font-size: 70px;
}
.home::before {
  content: '';
  width: 103%;
  height: 200px;
  background: #fff;
  position: absolute;
  bottom: -116px;
  transform: rotate(-5deg);
  z-index: 1;
}