* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 16px;
}

.logo {
  width: 150px;
}
.link {
  text-decoration: none;
}
/* navbar */
.navbar {
  background: #2f2d52 !important;
  padding: 15px 0 !important;
}
.navbar .hamburger {
  padding-top: 10px;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .nav-item .link {
  color: #fff;
  text-decoration: none;
  margin: 0 25px;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem !important;
}

/* home */
.home {
  background: #2f2d52;
  position: relative;
  padding: 200px 0;
  overflow: hidden;
}
.home .text-box {
  color: #fff;
  z-index: 100000;
  overflow: hidden;
}
.home .text-box h1 {
  font-size: 60px;
  font-weight: 700;
}
.home .text-box h1 span {
  color: #ffc78b;
  font-size: 70px;
}
.home::before {
  content: '';
  width: 103%;
  height: 200px;
  background: #fff;
  position: absolute;
  bottom: -116px;
  transform: rotate(-5deg);
  z-index: 1;
}

/* feature */
.feature {
  padding: 50px 0;
}
.feature .header-text {
  margin-bottom: 75px;
}
.feature .header-text h3 {
  color: #2F2D51;
  font-weight: 600;
  font-size: 35px;
}
.feature .header-text p {
  color: #77838F;
}
.feature-box {
  text-align: center;
}
.feature-box .icon {
  padding: 25px;
  background: #f5debc;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 50px;
  position: relative;
}
.feature-box .icon::before {
  content: "";
  background: transparent;
  border: 1px solid #f5debc;
  width: 150%;
  height: 150%;
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: 100px;
}
.feature-box .icon2 {
  background: #d3d8f8;
}
.feature-box .icon2::before {
  border: 1px solid #d3d8f8;
}
.feature-box .icon3 {
  background: #b3f4dc;
}
.feature-box .icon3::before {
  border: 1px solid #b3f4dc;
}
.feature-box .icon img {
  width: 50px;
  height: 50px;
}
.feature-box p {
  font-size: 14px;
  color: #77838F;
}

.course-page {
  margin-top: 100px;
}

/* course */
.courses {
  padding-top: 50px;
}
.courses .header-text h3 {
  color: #2F2D51;
  font-weight: 600;
  font-size: 35px;
}
.course-box {
  background: #fff;
  border-radius: 10px;
  margin: 15px 0;
  padding: 10px;
}
.course-box img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
}
.course-box .info {
  padding: 10px;
}
.course-box .category {
  color: #77838F;
  margin-bottom: 10px;
}
.course-box .title {
  color: #2F2D51;
  margin-bottom: 10px;
}
.course-box .price {
  color: #444;
  margin-bottom: 0px;
  font-weight: 600;
}
.course-box .review {
  color: #77838F;
  font-size: 14px;
}
.course-box .fa-star {
  color: #ffc78c;
  font-size: 14px;
}
.course-box span,
.course-box .icon {
  color: #77838F;
  font-size: 14px;
}


/* about */
.about {
  margin-top: 200px;
}
.about .img-fluid {
  border-radius: 10px;
}
.about .about-info h3 {
  color: #2F2D51;
  font-weight: 600;
  font-size: 35px;
}
.about .about-info p {
  color: #77838F;
}
.about .about-info ul li {
  color: #77838F;
  margin-bottom: 10px;
}


/* footer */
.footer {
  background: #f2f1ff;
  padding: 200px 0 100px 0;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: '';
  width: 102%;
  height: 200px;
  background: #fff;
  position: absolute;
  top: -116px;
  right: 0;
  transform: rotate(-5deg);
  z-index: 1;
}
.footer h6 {
  margin-top: 27px;
  margin-bottom: 30px;
}
.footer p {
  font-size: 14px;
  color: #77838F;
}
.footer .nav-item {
  margin-bottom: 10px;
}
.footer .link {
  font-size: 14px;
  color: #77838F;
  margin-bottom: 25px;
}


/* notfound */
.not-found {
  margin-top: 200px;
}
.not-found img {
  margin-bottom: 50px;
}
.not-found h3 {
  color: #2F2D51;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}
.not-found p {
  color: #77838F;
}


/* contact */
.contact {
  margin-top: 200px;
}
.contact h3 {
  color: #2F2D51;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}

.contact .form-group {
  margin-bottom: 30px;
}
.contact .form-group label {
  color: #2F2D51;
  font-size: 14px;
  margin-bottom: 10px;
}
.contact .form-group input {
  color: #77838F;
  font-size: 14px;
  height: 60px
}
.contact .form-group textarea {
  color: #77838F;
  font-size: 14px;
  height: 180px
}

.form-control:focus {
  background-color: #fff;
  border-color: none !important;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(47, 45, 82) !important;
}

.submit-btn {
  background: #2f2d52;
  color: #fff !important;
  width: 50%;
  font-size: 16px !important;
  border: none !important;
  border-radius: 3px;
}



@media (max-width: 767px) {
  .navbar .navbar-nav .nav-item {
    text-align: center;
    margin: 15px 0;
  }
  .home .text-box h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .home .text-box h1 span {
    font-size: 50px;
    font-weight: 700;
  }
}