* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 16px;
}
.logo {
  width: 150px;
}
.link {
  text-decoration: none;
}

/* course */
.course-page {
  margin-top: 100px;
}
.courses {
  padding-top: 50px;
}
.courses .header-text h3 {
  color: #2F2D51;
  font-weight: 600;
  font-size: 35px;
}

/* media queries */
@media (max-width: 767px) {
  .navbar .navbar-nav .nav-item {
    text-align: center;
    margin: 15px 0;
  }
  .home .text-box h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .home .text-box h1 span {
    font-size: 50px;
    font-weight: 700;
  }
}